html {
    margin: 0;
    overflow-x: hidden;
    background: lightgray;
}

.title{
    font-size: var(--size-7xl);
    position: relative;
    text-align: center;
    width: 100%;
    margin-top: 5vh;
}

.info {
    display: flex;
    flex-direction: row;
}

.info hr {
    width: 20vw;
    border: 2px solid darkgray;
    margin-inline: auto;
    margin-top: 0;
}

/*INPUT FIELD*/
.inputField {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35vw;
    margin-left: 10vw;
    margin-top: 10vh;
}

.inputField input{
    padding: 2vh;
    margin: 1vh;
}

#message{
    padding-bottom: 20vh;
}

.inputField h2 {
    text-align: center;
}

#submit {
    border: 1px solid #da9958;
    background-color: #ecbe74;
}

#submit:hover {
    background-color: #e8b159;
}

/*INFOFIELD*/
.contactField {
    margin-left: 5vw;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    width: 35vw;
    text-align: center;
}

.contactField h3{
    margin: 2vh;
}