html {
    margin: 0;
    overflow-x: hidden;
}

.title{
    font-size: var(--size-7xl);
    position: relative;
    text-align: center;
    width: 100%;
    margin-top: 5vh;
}

.info {
    display: flex;
    flex-direction: row;
}

.info hr {
    width: 20vw;
    border: 2px solid darkgray;
    margin-inline: auto;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.info p {
    text-align: center;
    max-width: 80%;
    margin-inline: auto;
}

/*INPUT FIELD*/
.inputField {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35vw;
    margin-left: 10vw;
}

.inputField input{
    padding: 2vw;
    margin: 1vw;
}

.inputField h2 {
    text-align: center;
}

#submit {
    border: 1px solid #da9958;
    background-color: #ecbe74;
}

#submit:hover {
    background-color: #e8b159;
}

/*IMAGE*/
.img {
   max-width: 30vw; 
   height: 40vw;
   margin-top: 2vw;
   margin-left: 3vw;
}
