.header{
    display: flex;
    justify-content: space-between;
    /* Space between logo and nav items */
    align-items: center;
    /* Center items vertically */
    padding-top: 2rem;
    padding-bottom: 2rem;
}
nav{
    font-size: var(--size-xl);
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.header__menu{
    display: flex;
    align-items:center;
    justify-content: flex-end;
    /* Align nav items to the right */
    list-style: none;
    gap:2em;
}
.header__menu li{
    margin-left: 20px;
}
.header__menu li a{
    transition: transform 0.5s ease, color 0.5s ease;
        /* Smooth transition with increased duration */
    color: var(--col-black);
}
.header__menu li a:hover{
    color: var(--col-orange);
    /* Change color on hover */

}
#header__logo{
    flex: 0 0 auto;
    border: 1px red solid;
}