.header{
    display: flex;
    justify-content: space-between;
    /* Space between logo and nav items */
    align-items: center;
    /* Center items vertically */
    padding-top: 2rem;
    padding-bottom: 2rem;
}
nav{
    position: fixed;
    top: 0;
    z-index: 1;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: var(--size-xl);
    width: 100%;
    padding-left: 110px;
    padding-right: 110px;
    display: flex;
    justify-content: space-between;
}

.scrolled {
    background-color: var(--col-orange);
    /* Background color when scrolled */
}

.scrolled .text-visible {
    color: var(--col-orange);
}
.scrolled .header__menu li a{
    color: var(--col-white);
}
.scrolled .header__menu li a:hover{
    color: var(--col-black);
}
.scrolled #header__logo span {
    color: var(--col-white);
}
.header__menu{
    display: flex;
    align-items:center;
    justify-content: flex-end;
    /* Align nav items to the right */
    list-style: none;
    gap:2em;
}
.header__menu li{
    margin-left: 20px;
}
.header__menu li a{
    transition: transform 0.5s ease, color 0.5s ease;
        /* Smooth transition with increased duration */
    color: var(--col-black);
}
.header__menu li a:hover{
    color: var(--col-orange);
    /* Change color on hover */

}
#header__logo{
    flex: 0 0 auto;
    font-size: var(--size-3xl);
}