
.landing{
    display: flex;
    justify-content: space-between;
}

.landing__image{
    width: 130%;
    margin-left:10%;
    margin-top: -5%;
}
.landing__image img{
    width: 100%;
}

h1.landing__text {
    margin-top: 10%;
    margin-bottom: 5%;
    width: 140%;
    font-size: var(--size-7xl);
}
.landing button{
    margin-top: 5%;

}

